/* Bootstrap Variables */
$primary:   #00B5B8;
$secondary: #404E67;
$success:   #16D39A;
$danger:    #FF7588;
$info:      #2DCEE3;
$warning:   #FFA87D;

$yiq-contrasted-threshold: 161;

$base-color: #00B5B8;
$text-color: #202020;
$text-color-light: #666666;
$heading-color: #424242;
$border-color: #e4e4e4;
$border-color-light: #f2f2f2;
$bg-color: rgb(246, 246, 247);
$red: #ce3535;